.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
media/chat.html
media/chat.js
node_modules/**
mock.py
webview-ui/**
!webview-ui/dist/**